@import url(nullstyle.css);
body{
	background: rgb(120, 122, 92);
}
.wrapper {
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider {
	position: relative;
	overflow: hidden;
	max-width: 720px;
	height: auto;
}
.slider input {
	position: absolute;
	visibility: hidden;
}
.slider-container {
	width: 500%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.slider-box {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	transition: all 0.4s ease;
}
.slider-box__img{
	width: 100%;
	height: 100%;
	padding: 20px;
}
.slider-box__image {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(0, 0, 0);
}
.slider-box__text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: 600;
	padding: 0 0 0 20px;
}
.navigation-box {
	position: absolute;
	bottom: 0;
	right: 20px;
	display: flex;
	gap: 2px;
}
.navigation-box__item-box {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 48px;
	height: 35px;
}
.navigation-box__item-box:hover .navigation-box__item {
	filter: opacity(0.5);
	transform: scale(1.1);
}
.navigation-box__item-box:active .navigation-box__item {
	background: rgb(50, 50, 50);
}
.navigation-box__item{
	width: 35px;
	height: 20px;
	border-radius: 5px;
	border: 3px solid rgb(50, 50, 50);
	transition: all 0.1s ease;
}
#but1:checked ~ .slide-1 {
	margin-left: 0;
}